.handwrited-typography {
    font-family: 'Pacifico', cursive !important;
}

.app-container {
    flex-direction: column;
    min-width: 100vw;
    min-height: 80%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}