@import '../../../../styles/variables';
@import '../../../../styles/global';

a{
    color: white;
    text-align: 1.3rem;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    color: white;
    background-color: $color-footer;
    min-width: 100%;
    min-height: 100px;

    @extend .handwrited-typography;
}